* {box-sizing:border-box;}

html{
  font-size: 100%;
}

body{
  margin: 0;
  width: 100%;
}

a{
  text-decoration: none;
  color: black;
}

h1{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-family: "p22-zaner-pro-one", serif;
  font-size: 700%;
  text-align: center;
  font-weight: 200;
  margin: 0px;
  width: 100%;
  line-height: 6rem;
}

h2{
  font-family: "essonnes-display", sans-serif;
  font-size: 150%;
  font-weight: 100;
  width: auto;
}

@media screen and (min-width: 50rem){
  h1{
    font-size: 800%;
    padding-top: 2rem;
  }

}
div.topnav{
  /*background-color: #ffbdc9;*/
  height: auto;
  /*padding: .5rem 0;*/
  width: 100%;

}

.active{
  background-color: #ffbdc9;
  font-style: italic;
}

.topnav.row{
  display: flex;
  flex-direction: column;
  width: 100%
}

ul.nav-pages{
  list-style: none;
  text-decoration: none;
  -webkit-padding-start: 0;
  -moz-padding-start:0;
  text-align: center;
  align-items: center;
  font-family: "essonnes-display", serif;
  font-size: 125%;
  margin: 0px;
  width: 100%;
}
.nav-item{
  padding-top: .5rem;
  padding-bottom: .5rem;
}
li.nav-item a{
  text-decoration: none;
  color:black;
}
@media (min-width: 50rem) {
  div.topnav{
    background-color: #ffbdc9;
  }
  .active{
    font-style: italic;
  }
  .topnav .row{
    flex-direction: row;
  }
  .nav-pages{
    list-style: none;
    text-decoration: none;
    display: flex;
    margin: 0;
    overflow: hidden;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    font-family: "essonnes-display", serif;
    font-size: 125%;
    padding: 1rem;
    color:black;
    padding: 1rem 1rem;
    width: 100%;
  }
}

p.quote-text{
  display: block;
}

.who-i-am-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.about-me-photo{
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  padding-top: 1rem;
  width: 25%;
  height: 50%;
}

@media screen and (max-width:50rem) {
  .about-me-photo{
    flex-direction: column;
    flex-wrap: nowrap;
    align-self: center;
    align-content: center;
    margin: auto;
    width: 100%;
    height: 100%;

  }
}

.who-i-am-text{
  display:block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: center;
  margin: auto;
  padding-left: .5rem;
  width: 50%;
  height:100%;

}

@media screen and (max-width:50rem) {
  div .who-i-am-text{
    flex-direction: column;
    flex-wrap: wrap;
    align-self:flex-start;
    align-content: flex-start;
    width: 100%;
    height: auto;

  }

}

.content{
  display:block;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin: 1rem;
  padding-right: 1rem;
  width:100%;
  height:auto;
  align-items: center;
}
.content-wrapper{
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 1rem 1rem;
}
.img-wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
}

@media screen and (min-width:1100px){
.content-wrapper{
  display: flex;
}
.content{
  max-width: 33.3%;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.content-title{
  width: auto;
  text-align: left;
}
}
@media screen and (min-width:1440px){
.content-wrapper{
    display: flex;
  }
.content{
  width: 75%;
  flex-wrap: wrap;
  align-items: flex-start;
}
.content-title{
  width: auto;
}
}

.content-title{
  color:black;
  text-align: center;
}

.content-title a:webkit-any-link{
    color:black !important;
}

.content-title a:moz-any-link{
  color:black !important;
}
.content-title *|*:link{
  color:black !important;
}



.title{
  font-family: "essonnes-display", sans-serif;
  font-size: 150%;
}

.subtitle{
  font-family: "ff-basic-gothic-sc-web-pro", sans-serif;
  font-style: italic;
  font-size: 150%;
}

p{
  width: 100%;
  font-family: "essonnes-display", serif;
  font-weight: 100;
}


.footer.row{
  display: flex;
  flex-direction: column;
}

ul.footer-pages{
  list-style: none;
  text-decoration: none;
  -webkit-padding-start: 0;
  -moz-padding-start:0;
  text-align: center;
  align-items: center;
  font-family: "essonnes-display", serif;
  font-size: 125%;
  margin: 0px;
  color: #ffbdc9;
}
li.footer-item a{
  text-decoration: none;
  color: #ffbdc9;
}
ul{
  -webkit-padding-start: 0px;
}

a#personal-site{
  color: #ffbdc9 !important;
  text-decoration: none !important;
}
.footer-item{
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (min-width: 50rem) {
  .footer.row{
    flex-direction: row;
  }
  .footer-pages{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    overflow: hidden;
    justify-content: center;
    font-family: "essonnes-display", serif;
    font-size: 75%;
    padding: 1rem 1rem;
    width: 100%;
}
  .footer-item{
  padding: 0 1.5rem;
}
}
